<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>提现申请</title>
    <link href="<?= base_url('application/views/css/bootstrap.min.css');?>" rel="stylesheet">
    <script src="<?= base_url('application/views/js/jquery-1.9.1.min.js');?>"></script>
    <script src="<?= base_url('application/views/js/bootstrap.min.js');?>"></script>
    <script src="<?= base_url('application/views/js/html5shiv.js');?>"></script>
    <!-- <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script> -->
    <style type="text/css">
.user_info{
  position: relative;
  margin:2% 8%;
  padding:40px;
  background-color:#f5f5f5;
  min-height:20px;
}
.class_hr{
  width:75%;
  height:2px;
  border:none;
  border-top:2px dotted #185598;
}
  .label_reg{
    width:20%;
  }
  .table{
    width:100%;
  }
  td,th{
    text-align:center
  }
  .container_modal{
    margin-left:20%;
}
  .old_color{
      background-color: #a8fb98;
  }
  .new_color{
      background-color: #7480df;
  }
  .container{
      margin-top:2%;
  }
  </style>
  </head>
  <body>
<div class="container">
<div class="row">
<div class="span6">
<ul class="nav nav-tabs">
<li class="active"><a href="<?php echo site_url().'/admin/index';?>">申请列表</a></li> 
<li><a href="<?php echo site_url().'/admin/acceptlist';?>">已审核</a></li>
<li><a href="<?php echo site_url().'/admin/userlist';?>">账户列表</a></li> 
<li><a href="<?php echo site_url().'/admin/freeze';?>">已冻结账户</a></li> 
</ul>
</div>
</div>
</div>
<div class="user_info">
<center>
    <h2>提现申请列表</h2>
<table class="table table-bordered table-hover">
  <thead>
  <tr class="th_class">
  <th style="width:5%">申请ID</th>
  <th style="width:10%">头像</th>
  <th style="width:20%">昵称</th>
  <th style="width:15%">地区</th>
  <th style="width:10%">提现金额(元)</th>
  <th style="width:15%">操作</th>
 </tr>
</thead>

<tbody>
    <?php foreach($apply as $v){ ?>
 <tr>
  <td><?= $v['apply_id'];?></td>
  <?php if($v['yn'] != 3){ ?>
  <td><img src="<?= $v['headimgurl'].'132';?>"  height='60' width='60' /></td>
  <td><?= $v['nickname'];?></td>
  <td><?= $v['area'];?></td>
  <?php }else{ ?>
  <td>已取消关注</td>
  <td>已取消关注</td>
  <td>已取消关注</td>
  <?php } ?>
  <td style="color:red"><?= $v['money']/100;?></td>
  <td>
      <button type="button" class="btn btn-success" value= '1'>通过</button>
      <button type="button" class="btn btn-danger" value = '2'>拒绝</button>
  </td>
 <input name = "openid" type="hidden" value = "<?= $v['openid'];?>" />
 <input name = "note_id" type="hidden" value = "<?= $v['note_id'];?>" />
 <input name = "money" type="hidden" value = "<?= $v['money'];?>" />
 </tr>
 <?php }?>
</tbody>
</table>
</center>
</div>
<input id = "hid_site" type="hidden" value = "<?= site_url();?>" />
<input id = "hid_base" type="hidden" value = "<?= base_url();?>" />
<script type="text/javascript">
    $(function(){
        var path = $("#hid_site").val();
        $("button").click(function(){ 
            $(this).text('正在发放...');
            var openid = $(this).parent().next().val();
            var note_id = $(this).parent().next().next().val();
            var money = $(this).parent().next().next().next().val();
//            console.log(openid);
//            console.log(note_id);
//            console.log(money);
            if($(this).val() == 1){
                var url = path+"/admin_action/accept_do";
                $.post(url,{
                openid : openid,
                note_id : note_id,
                money : money
                },function(data){
                    var a = JSON.parse(data);
                    alert(a['message']);
                    if(a['code'] != 1){
                        $(this).text('发放失败');
                    }
                    location.reload();
                });
            }
            if($(this).val() == 2){
                var url = path+"/admin_action/refuse_do";
                $.post(url,{
                openid : openid,
                note_id : note_id
                },function(data){
                    var a = JSON.parse(data);
                    alert(a['message']);
                    location.reload();
                });
            }
        }); 
    });
</script>
</body>
</html>
